<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/a7/style/style.css" />
    <link rel="stylesheet" href="/a7/style/produits.css" />
    <title>WE WANT ALL! -products</title>
  </head>
  <body>
    <header>
      <section class="logo">
        <a id="logo" href="../../index.html">WE WANT ALL!</a>
      </section>
      <section class="links">
        <a href="../view/form.html">connexion</a>
        <a href="#">nouveautés</a>
        <a href="">A propos de nous </a>
      </section>
    </header>
    <main>
      <section id="adBar">
       <p>Livraison gratuite et simple !</p>
      </section>
      <h1>Produits populaires</h1>
      <br />
      <section class="products">
        <figure><img src="../img/mohair.jpg" alt="">
          <figcaption>Pull mohair - 30€ <a href="">acheter</a></figcaption>
        </figure>
        <figure><img src="../img/mohair.jpg" alt="">
          <figcaption>Pull mohair - 30€ <a href="">acheter</a></figcaption></figure>
        <figure><img src="../img/mohair.jpg" alt="">
          <figcaption>Pull mohair - 30€ <a href="">acheter</a></figcaption></figure>
        <figure><img src="../img/mohair.jpg" alt="">
          <figcaption>Pull mohair - 30€ <a href="">acheter</a></figcaption></figure>
        <figure><img src="../img/mohair.jpg" alt="">
          <figcaption>Pull mohair - 30€ <a href="">acheter</a></figcaption></figure>
        <figure><img src="../img/mohair.jpg" alt="">
          <figcaption>Pull mohair - 30€ <a href="">acheter</a></figcaption></figure>
      </section>
    </main>

    <footer>
      <div class="footer-top">
        <div class="container">
          <div class="footer-logo">
            <p>WE WANT ALL!</p>
          </div>
          <div class="footer-menu">
            <ul>
              <li><a href="../../index.html">Accueil</a></li>
              <li><a href="#">Mentions légales</a></li>
              <li><a href="#">CGV</a></li>
              <li><a href="#">CGU</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="container">
          <div class="footer-social">
            <a href="#"><img src="../img/fb_mini(1).png" alt="Icône Facebook"></a>
            <a href="#"><img src="../img/instagram_mini(1).png" alt="Icône Instagram"></a>
            <a href="#"><img src="../img/twitter_mini(1).png" alt="Icône Twitter"></a>
          </div>
          <div class="footer-copyright">
            <p>&copy; 2024 Votre entreprise. Tous droits réservés.</p>
          </div>
        </div>
      </div>
    </footer>
    
    
  </body>
</html>
